In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('../Data/survey-results-public.csv')
df['TimeAfterBootcamp'].head()
df.shape

(51392, 154)

筛选出bootcamp 的毕业生。

In [15]:
bootcamp_df = df[df.TimeAfterBootcamp.isnull() == False]
bootcamp_df.head()

not_bootcamp_df = df[df.TimeAfterBootcamp.isnull() == True]
not_bootcamp_df.head()
bootcamp_df.shape[0] / df.shape[0]

0.050630448318804484

In [16]:
#查看在bootcamp中的性别占比情况
bootcamp_df['Gender'].value_counts() / (bootcamp_df.shape[0] - sum(bootcamp_df.Gender.isnull()))

Male                                                       0.863071
Female                                                     0.112494
Other                                                      0.006455
Gender non-conforming                                      0.005533
Male; Other                                                0.002766
Male; Gender non-conforming                                0.001383
Female; Gender non-conforming                              0.001383
Male; Female                                               0.000922
Male; Transgender                                          0.000922
Male; Female; Transgender; Gender non-conforming; Other    0.000922
Transgender; Gender non-conforming                         0.000922
Transgender                                                0.000922
Female; Transgender; Gender non-conforming                 0.000922
Male; Female; Transgender; Gender non-conforming           0.000461
Female; Gender non-conforming; Other                       0.000461
Male; Gender non-conforming; Other                         0.000461
Name: Gender, dtype: float64

In [17]:
#查看在notbootcamp中的性别占比情况
not_bootcamp_df['Gender'].value_counts() / (not_bootcamp_df.shape[0] - sum(not_bootcamp_df.Gender.isnull()))

Male                                                       0.903857
Female                                                     0.071659
Other                                                      0.006418
Male; Other                                                0.005019
Gender non-conforming                                      0.004501
Male; Gender non-conforming                                0.001886
Female; Transgender                                        0.001703
Transgender                                                0.001612
Female; Gender non-conforming                              0.000791
Male; Female; Transgender; Gender non-conforming; Other    0.000395
Transgender; Gender non-conforming                         0.000395
Male; Female                                               0.000395
Male; Transgender                                          0.000274
Male; Female; Transgender; Gender non-conforming           0.000182
Female; Transgender; Gender non-conforming                 0.000182
Gender non-conforming; Other                               0.000122
Male; Female; Transgender                                  0.000122
Male; Transgender; Gender non-conforming                   0.000122
Male; Gender non-conforming; Other                         0.000061
Male; Female; Other                                        0.000061
Male; Female; Transgender; Other                           0.000030
Female; Transgender; Gender non-conforming; Other          0.000030
Male; Female; Gender non-conforming; Other                 0.000030
Male; Female; Gender non-conforming                        0.000030
Transgender; Other                                         0.000030
Female; Other                                              0.000030
Female; Transgender; Other                                 0.000030
Male; Transgender; Other                                   0.000030
Name: Gender, dtype: float64

In [18]:
#查看在bootcamp中的formaleducation占比情况
bootcamp_df['FormalEducation'].value_counts() / (bootcamp_df.shape[0] - sum(bootcamp_df.FormalEducation.isnull()))

Bachelor's degree                                                    0.475019
Master's degree                                                      0.225211
Some college/university study without earning a bachelor's degree    0.162567
Secondary school                                                     0.069562
Doctoral degree                                                      0.022291
Professional degree                                                  0.016141
I prefer not to answer                                               0.011914
Primary/elementary school                                            0.009224
I never completed any formal education                               0.008071
Name: FormalEducation, dtype: float64

In [21]:
#查看在notbootcamp中的formaleducation占比情况
not_bootcamp_df['FormalEducation'].value_counts() / (not_bootcamp_df.shape[0] - sum(not_bootcamp_df.FormalEducation.isnull()))

Bachelor's degree                                                    0.417565
Master's degree                                                      0.216335
Some college/university study without earning a bachelor's degree    0.157942
Secondary school                                                     0.117381
Doctoral degree                                                      0.025620
I prefer not to answer                                               0.022095
Primary/elementary school                                            0.020967
Professional degree                                                  0.013794
I never completed any formal education                               0.008301
Name: FormalEducation, dtype: float64

In [23]:
#查看在参加训练营后多久找到工作
bootcamp_df['TimeAfterBootcamp'].value_counts() / bootcamp_df.shape[0]

I already had a job as a developer when I started the program    0.458493
Immediately upon graduating                                      0.112990
I got a job as a developer before completing the program         0.096849
One to three months                                              0.087625
I haven't gotten a job as a developer yet                        0.081091
Less than a month                                                0.059954
Four to six months                                               0.040354
Longer than a year                                               0.032667
Six months to a year                                             0.029977
Name: TimeAfterBootcamp, dtype: float64