### 工作满意度

在这个 Notebook 中，你将探索问卷调查中有关工作满意度的回答。根据需要使用 Notebook 上方的单元格进行浏览，利用分析的结果来回答下面的问题。

In [7]:
import pandas as pd
import numpy as np
import JobSatisfaction as t
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('./survey_results_public.csv')
schema = pd.read_csv('./survey_results_schema.csv')
df.head()

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
2,3,Professional developer,"Yes, both",United Kingdom,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A professional degree,White or of European descent,Somewhat agree,Agree,Disagree,Agree,113750.0,NaN
3,4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
4,5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#Space for your code
#方法一：
satisfaction_null_df = df[df.JobSatisfaction.isnull() == True]
satisfaction_null_df.shape[0] / df.shape[0]
#方法二：
df.JobSatisfaction.isnul().mean()

0.21435242839352428

In [32]:
#More space for code
# df.sort_values(by = 'EmploymentStatus').head(5)
# df['JobSatisfaction']
# df[df.G]
#方法一：
satisfaction_df = df[df.JobSatisfaction.isnull() == False]
df_JobSatisfaction_grouped = satisfaction_df.groupby('EmploymentStatus').mean()['JobSatisfaction']
pd.DataFrame(df_JobSatisfaction_grouped).sort_values(by='JobSatisfaction',ascending = False)
#方法二：

                                                    JobSatisfaction
EmploymentStatus
Independent contractor, freelancer, or self-emp...         7.231985
Employed full-time                                         6.980608
Employed part-time                                         6.846154

In [35]:
#Additional space for your additional code
CompanySize_df = satisfaction_df[satisfaction_df.CompanySize.isnull() == False]
df_CompanySize_grouped = CompanySize_df.groupby('CompanySize').mean()['JobSatisfaction']
pd.DataFrame(df_CompanySize_grouped).sort_values(by='JobSatisfaction',ascending = False)

                          JobSatisfaction
CompanySize
I prefer not to answer           7.284946
I don't know                     7.054622
10 to 19 employees               7.035739
500 to 999 employees             7.029967
100 to 499 employees             7.029324
Fewer than 10 employees          7.025719
20 to 99 employees               6.997039
1,000 to 4,999 employees         6.908506
5,000 to 9,999 employees         6.832155
10,000 or more employees         6.793617

In [ ]:
#Feel free to create new cells as you need them

#### Question 1

**1.** 将合适的选项（**a、b、c、d、e、f、g、h**）与 **job_sol_1** 字典里的不同陈述匹配。

In [22]:
a = 0.734
b = 0.2014
c = 'full-time'
d = 'contractors'
e = 'retired'
f = 'yes'
g = 'no'
h = 'hard to tell'

job_sol_1 = {'The proportion of missing values in the Job Satisfaction column': b,
             #根据EmploymentStatus的数据，哪个群体的平均工作满意度最高
             'According to EmploymentStatus, which group has the highest average job satisfaction?': d, 
             #总的来说，较小的公司似乎拥有更高的工作满意度的员工吗
             'In general, do smaller companies appear to have employees with higher job satisfaction?': f}
             
t.jobsat_check1(job_sol_1)

Nice job! That's what we found as well!

#### Question 2

**2.** 将合适的选项（**a、b、c**）与 **job_sol_2** 字典中的不同陈述匹配。注意，选项可以重复使用。

In [36]:
HomeRemote_df = satisfaction_df[satisfaction_df.HomeRemote.isnull() == False]
df_HomeRemote_grouped = HomeRemote_df.groupby('HomeRemote').mean()['JobSatisfaction']
pd.DataFrame(df_HomeRemote_grouped).sort_values(by='JobSatisfaction',ascending = False)

                                                    JobSatisfaction
HomeRemote
All or almost all the time (I'm full-time remote)          7.405421
Less than half the time, but at least one day e...         7.143786
About half the time                                        7.125737
A few days each month                                      7.096694
More than half, but not all, the time                      6.973684
It's complicated                                           6.942053
Never                                                      6.697127

In [43]:
Doctoral_df = satisfaction_df[satisfaction_df.FormalEducation.isnull() == False]
df_Doctoral_grouped = Doctoral_df.groupby('FormalEducation').mean()['JobSatisfaction']
pd.DataFrame(df_Doctoral_grouped).sort_values(by='JobSatisfaction',ascending = False)

                                                    JobSatisfaction
FormalEducation
Doctoral degree                                            7.438492
Secondary school                                           7.219512
I prefer not to answer                                     7.211679
Some college/university study without earning a...         7.151268
Professional degree                                        7.075893
I never completed any formal education                     7.000000
Master's degree                                            6.977356
Primary/elementary school                                  6.946237
Bachelor's degree                                          6.900293

In [ ]:
df.groupby('ProgramHobby').mean()['JobSatisfaction'].sort_values()

In [52]:
a = 'yes'
b = 'no'
c = 'hard to tell'

job_sol_2 = {#在工作以外编程的人似乎对工作满意度更高吗？
             'Do individuals who program outside of work appear to have higher JobSatisfaction?': a,
            #在办公室外工作的灵活性似乎对工作满意度有影响吗？
             'Does flexibility to work outside of the office appear to have an influence on JobSatisfaction?': a,
            #一位朋友说，博士学位会增加您喜欢的工作的机会，这看起来是真的吗？
             'A friend says a Doctoral degree increases the chance of having job you like, does this seem true?': a}
             
t.jobsat_check2(job_sol_2)

Nice job! That's what we found as well!